{%extends "home.html"%} {%block content%}
<body class="text-center">
  <div class="container">
    <form method="POST" class="form-register" styl="color:white">
        {{form.hidden_tag()}}
      <h1 class="h3 mb-3 font-weight-normal">Please Create your Account</h1>
      <br />
      {{form.username.label()}}
      {{form.username(class="form-control",placeholder="User name")}}
      {{form.email.label()}}
      {{form.email(class="form-control",placeholder="Email Address")}}
      {{form.pass1.label()}}
      {{form.pass1(class="form-control",placeholder="Pass1")}}
      {{form.pass2.label()}}
      {{form.pass2(class="form-control",placeholder="Pass2")}}
      <div class="checkbox mb-3 mt-3">
               <h6>Aldready have an account</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Register</a>
            </div>

      {{form.submit(class="btn btn-lg mt-3 btn-block btn-primary")}}

    </form>
  </div>
</body>
{%endblock%}
